{% extends "base.html" %}

{% block content %}
<div class="card shadow-shadow p-2">
    <div class="row w-100 mb-3">
        <div class="col-md-4">
            <h1 class="h3">Blogs</h1>
        </div>
        <div class="col-md-4">
            <div class="input-group w-100">
                <span class="input-group-text" id="basic-addon1">
                    <i class="bi bi-search"></i>
                </span>
                <input type="text" class="form-control" placeholder="Filter..." aria-label="Input group example"
                    aria-describedby="basic-addon1">
            </div>
        </div>
        <div class="col-md-4 text-end"><a href="#" class="btn btn-outline-primary" data-bs-toggle="modal" data-bs-target="#blog-create">
            <i class="bi bi-envelope"></i> Ajouter un blog</a>
        </div>
    </div>
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Titre </th>
                <th scope="col">Date de publication</th>
                <th scope="col">Nombre des j'aimes </th>
                <th scope="col">Action</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Lorem ipsum dolor sit amet consectetur.</td>
                <td>Vendredi, 12 juillet 2022</td>
                <td>123</td>
                <td>
                    <a href="update/blog/{{blog.id}}" class="btn btn-success btn-sm"><i class="bi bi-pencil"></i></a>
                    <a href="delete/blog/{{blog.id}}" onclick="return confirm('Êtes-vous sûr de vouloir supprimer le blog')"  class="btn btn-danger btn-sm"><i class="bi bi-trash3"></i></a>
                </td>
            </tr>
        </tbody>
    </table>

    <nav aria-label="Page navigation example">
        <ul class="pagination">
            <li class="page-item">
                <a class="page-link" href="#" aria-label="Previous">
                    <span aria-hidden="true">&laquo;</span>
                </a>
            </li>
            <li class="page-item"><a class="page-link" href="#">1</a></li>
            <li class="page-item"><a class="page-link" href="#">2</a></li>
            <li class="page-item"><a class="page-link" href="#">3</a></li>
            <li class="page-item">
                <a class="page-link" href="#" aria-label="Next">
                    <span aria-hidden="true">&raquo;</span>
                </a>
            </li>
        </ul>
    </nav>
</div>

<!-- Modal -->
<div class="modal fade" id="blog-create" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Ajouter un blog</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <form action="/create-user" method="POST">
            {% csrf_token %}
            {{form.as_p}}
            <button type="submit" class="btn btn-info text-white w-100" data-bs-dismiss="modal">Ajouter</button>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fermer</button>
        </div>
      </div>
    </div>
  </div>
{% endblock %}