{% extends 'base.html' %}

{% block content %}
<div class="row d-flex justify-content-center">
    <div class="card shadow-sm p-2 col-md-6">
        <h4 class="mb-3">Modification</h4>
        <form action="/update/participant/{{participant.id}}" method="POST">
            {% csrf_token %}
            <input type="email" value="{{participant.email}}" class="form-control mb-3" name="email" placeholder="E-mail..." required>
            <button type="submit" class="btn btn-info text-white w-100">Ajouter</button>
          </form>
    </div>
</div>

{% endblock %}