{% extends 'base.html' %}

{% block content %}
<div class="row d-flex justify-content-center">
    <div class="card shadow-sm p-2 col-md-6">
        <h4 class="mb-3">Modification de membre</h4>
        <form method="POST" >
            {% csrf_token %}
            <select name="mumbre" class="form-select mb-3" id="member" required>
                <option value="" selected>Selection member</option>
                {% for item in members %}
                {% if item.nom == tache.mumbre.nom %}
                <option value="{{item.id}}" selected>{{item.nom}} {{item.prenom}}</option>
                {% else %}
                <option value="{{item.id}}">{{item.nom}} {{item.prenom}}</option>
                {% endif %}
                {% endfor %}
            </select>

            <select name="association" class="form-select mb-3" id="association" required>
                <option value="" selected>Selection association</option>
                {% for item in associations %}
                {% if item.nom == tache.association.nom %}
                <option value="{{item.id}}" selected>{{item.nom}}</option>
                {% else %}
                <option value="{{item.id}}">{{item.nom}}</option>
                {% endif %}
                {% endfor %}
            </select>
            <button type="submit" class="btn btn-info text-white w-100" data-bs-dismiss="modal">Modifir</button>
        </form>
    </div>
</div>

{% endblock %}