{% extends "base.html" %}



{% block content %}
<div class="row d-flex justify-content-center">
    <div class="card shadow-sm p-2 col-md-6">
        <h4 class="mb-3">Modification de Événement</h4>
        <form method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <input type="text" class="form-control mb-3" value="{{event.titre}}" name="titre" placeholder="Titre.." required>
            <textarea name="description" class="form-control mb-3" id="" cols="30" rows="5" placeholder="Description..." required>{{event.description}}</textarea>
            <input type="date" class="form-control mb-3" value="{{event.date_debut|date:'o-m-d'}}" name="date_debut" placeholder="Date debut..." required>
            <input type="date" class="form-control mb-3" value="{{event.date_fine|date:'o-m-d'}}" name="date_fine" placeholder="Date Fine.." required>
            <input type="text" class="form-control mb-3" value="{{event.liue}}" name="liue" placeholder="Liue..." required>
            <input type="number" class="form-control mb-3" value="{{event.nbr_particip}}" name="nbr_particip" placeholder="Nomber particip.." required>
            <input type="number" class="form-control mb-3" value="{{event.tarif}}" name="tarif" placeholder="Tarif..." required>
            <input type="file" class="form-control mb-3" value="{{event.image.url}}" accept="image/*" name="image" >
            <span>Current Image <a href="{{event.image.url}}" target="_blank">{{event.image.url}}</a></span>
            <button type="submit" class="btn btn-info text-white mt-3 w-100">Modifir</button>
        </form>
    </div>
</div>

{% endblock %}
