<header class="navbar navbar-expand-lg bd-navbar sticky-top p-2">
  <div class="d-flex justify-content-between w-100 px-2">
    <div>
      <a href="/dashboard" class="d-flex align-items-center mb-2 mb-lg-0 text-white text-decoration-none">
        <h1 class="h3">MUSLIMCONNECT</h1>
       </a>
   
    </div>

    <div>
      <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
      </ul>
    </div>


    <div class="text-end flot-end d-flex">
      <div class="dropdown">
        <button class="btn btn-outline-light me-2 rounded-circle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
          <i class="bi bi-bell"></i>
        </button>
        <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="dropdownMenuButton1">
          <ul class="list-group list-group-flush">
            <li class="list-group-item">An item</li>
            <li class="list-group-item">A second item</li>
            <li class="list-group-item">A third item</li>
            <li class="list-group-item">A fourth item</li>
            <li class="list-group-item">And a fifth one</li>
          </ul>
        </ul>
      </div>

      <div class="dropdown">
        <button class="btn btn-outline-light me-2 rounded-circle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
          <i class="bi bi-three-dots-vertical"></i>
        </button>
        <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="dropdownMenuButton1">
          <li><a class="dropdown-item" href="/{{user}}">Profile</a></li>
          <li><a class="dropdown-item" href="/settings">Paramètre</a></li>
          <li><a class="dropdown-item" href="/accounts/logout/">Déconnexion</a></li>
        </ul>
      </div>

    </div>
  </div>
  </header>