<div class="d-flex flex-column flex-shrink-0 p-2 text-white bg-dark" style="width: 280px;">
    <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-white text-decoration-none">
        <a href="#" class="d-flex align-items-center text-white text-decoration-none">
            <img src="https://github.com/mdo.png" alt="" width="40" height="40" class="rounded-circle me-2">
            <div>
                <strong>Secours Islamique</strong><br>
                <small>Hassan Agmir</small>
            </div>
        </a>
    </a>
    <hr>
    <ul class="nav nav-pills flex-column mb-auto">
        <li>
            <a href="/" class="nav-link text-white" id="dashboard">
                <i class="bi bi-grid"></i> Dashboard
            </a>
        </li> 
        <li>
            <a href="/users" class="nav-link text-white" id="users">
                <i class="bi bi-people"></i> Members
            </a>
        </li>
        <li>
            <a href="/events" class="nav-link text-white" id="events">
                <i class="bi bi-calendar-check"></i> Événements
            </a>
        </li>
        <li>
            <a href="/donors" class="nav-link text-white" id="donors">
                <i class="bi bi-clipboard-heart"></i> Dons et donateurs
            </a>
        </li>
        <li>
            <a href="/expenses" class="nav-link text-white" id="expenses">
                <i class="bi bi-bag"></i>  Dépenses
            </a>
        </li>
        <li>
            <a href="/emailing" class="nav-link text-white" id="emailing">
                <i class="bi bi-chat-left"></i> Emailing 
            </a>
        </li>
        <li>
            <a href="/calendar" class="nav-link text-white" id="calendar">
                <i class="bi bi-calendar-event"></i> Calendrier
            </a>
        </li>
        <li>
            <a href="/blogs" class="nav-link text-white" id="blogs">
                <i class="bi bi-layout-text-sidebar"></i> Blogs
            </a>
        </li>
        <li>
            <a href="#" class="nav-link text-white">
                <i class="bi bi-mortarboard"></i> Madrassa
            </a>
        </li>
        <li>
            <a href="#" class="nav-link text-white">
                <i class="bi bi-globe"></i> Site internt
            </a>
        </li>
        <li>
            <a href="#" class="nav-link text-white">
                <i class="bi bi-graph-up-arrow"></i> Statistiques
            </a>
        </li>
        <li>
            <div class="accordion accordion-flush" id="accordionFlushExample">
                <div class="accordion-item bg-dark">
                  <h2 class="accordion-header text-white" id="flush-headingOne">
                    <button class="accordion-button bg-dark text-white collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne"><i class="bi bi-mortarboard"></i>&#xa0;Madrassa
                    </button>
                  </h2>
                  <div id="flush-collapseOne" class="accordion-collapse collapse" aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample">
                    <div class="accordion-body">
                        <ul class="nav nav-pills flex-column mb-auto">
                            <li>
                                <a href="#" class="nav-link text-white"> Site internt</a>
                            </li>
                            <li>
                                <a href="#" class="nav-link text-white"> Statistiques </a>
                            </li>
                        </ul>
                    </div>
                  </div>
                </div>
              </div>
        </li>
    </ul>
    <hr>

</div>



