{% extends 'base.html' %}
{% load static %}
{% load i18n %}

{% block content %}
<div class='card'>
    <div class='post-header'>
        <h1 class='post-title h4'>
            {% trans 'Change Password' %}
        </h1>
    </div>
    <div class='post-body post-content pt-0 p-3'>
        <form action="" method="POST">
            {% csrf_token %}
            <label class="p-0"> {% trans 'Old Password'%} </label>
            {% if form.old_password.errors %}
            <span class="helptext text-red">{% trans 'The old password is incorrect.' %} </span>
            {% endif %}
            <input type="password" class="form-control" name="old_password" required>
            <label class="p-0"> {% trans 'New password' %} </label>
            <input type="password" class="form-control" name="new_password1" required>

            <label class="p-0"> {% trans 'New Password confirmation' %}  </label>
            {% if form.new_password2.errors %}
            <span class="helptext text-red">
                {% trans 'Password does not match.' %}</span>
            {% endif %}
            <input type="password" class="form-control" name="new_password2" required >
            <button type="submit" class="btn btn-success mt-3 w-25">
                {% trans 'Change' %}
            </button>
        </form>
        <br>
        <div>
            <ul>
                <li> 
                    {% trans 'Your password can’t be too similar to your other personal information.' %} </li>
                <li> {% trans 'Your password must contain at least 8 characters.' %}
                </li>
                <li> {% trans 'Your password can’t be a commonly used password' %} </li>
                <li> {% trans 'Your password can’t be entirely numeric.' %} </li>
            </ul>

        </div>
    </div>
</div>
{% endblock %}